.myapp {
  text-align: center;
  position: relative;
  background-color: rgb(27, 43, 43);
}

.appvideo {
  padding: 10px;
  background-color: rgb(27, 43, 43); 
  position: absolute;
  z-index: 10 ;
}

.appcanvas {
  padding: 10px; 
  z-index: 100;
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
