.myapp {
  text-align: center;
  position: relative;
  background-color: rgb(27, 43, 43);
}
::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-thumb {
  background-color: #1e201e39;
  width: 0.1rem;
  border-radius: 1rem;
}
body {
  margin:0;
  overflow:'hidden'
}
.appvideo {
  padding: 10px;
  background-color: rgb(27, 43, 43); 
  position: absolute;
  z-index: 10 ;
}

.appcanvas {
  padding: 10px; 
  z-index: 100;
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
